@font-face {
  font-family: 'Riffic';
  src: url(RifficFree-Bold.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header img {
  display: block;
}

.Subheader {
  font-family: "Riffic", sans-serif;
  font-size: 2em;
  color: #533b28;
}

.corner-sticker {
  position: fixed;
  bottom: 0;
  right: 20;
  width: 180px;
  height: auto;
  z-index: 9999;
  pointer-events: none;
}

.eevee-footer{
  margin-top: 4rem;   /* remove the gap */
  padding-top: 0;
  overflow: hidden;
}

.footer-decor {
  width: 100%;
  height: auto;
  display: block;
  
}